.card {
  width: 400px;
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Card Top */
.card-top {
  display: flex;
  gap: 12px;
}

.card-top img {
  width: 50%;
}

.card-top .heart-icon {
  color: #FD77A0;
  position: absolute;
  margin: 8px;
  font-size: 20px;
}

.card-top-info i {
 color: #FDB434; 
}

/* Card Middle */
.card-middle img {
  height: 100px;
  width: 100%;
}

/* Card Bottom */
.card-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.card-bottom img {
  width: 100%;
}




